.App {
  text-align: center;
}

.React-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Micro-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  margin: 10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.count-display {
  font-size: 72px;
}

.App-intro {
  font-size: large;
}

.App-description {
  margin-left: 150px;
  margin-right: 150px;
  word-wrap: break-word;
}

.App-links {
  font-size: 32px;
  color: limegreen;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
